# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

.idea
*.iml

target

*.DS_Store

ExportExcelia.prop
Extract.xlsx
src/test/scala/com.anstel.libutilscalatest/ApplicationParametersTest.scala
.~lock.Extract.xlsx#